<nav class="site-menu">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" href="/index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Photography Services</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Workshops</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Contact</a></li>
    </ul>
</nav>