.main-bg {
    background-image: url("/Photography-Studio/CSS-Version/assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
    background-attachment: fixed; 
    min-height: auto;           
    position: relative;

    &::before {
        content: "";
        @include absolute-overlay;
        background: $dark-overlay;
        z-index: 0;
    }

    .row {
        min-height: auto;
        display: flex;
        align-items: stretch;
    }
}
