.site-header {
    padding: 18px 10px;
    background: $header-bg;
    border-bottom: 0.1px solid $gray-border;
}

.header-inner {
    @include flex-center;
    position: relative;
}

.header-icon {
    position: absolute;
    padding: 1rem;
    left: 0;
    font-size: 1.9rem;
    opacity: 0.9;
    color: $light-gray;
}

.section-header {
    letter-spacing: 3px;
    font-weight: 300;
    @include text-uppercase;
    position: relative;
}
