@mixin transition($properties...) {
    transition: $properties;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-overlay {
    position: absolute;
    inset: 0;
}

@mixin text-uppercase {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
