.section-title {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 300;        
    font-family: $font-montserrat;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 65%;
        height: 2px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: $border-radius-sm;
    }
}
