body {
    color: $white-opacity-85;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    @include text-uppercase;
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 1.6;
}
